body{
    margin: 0;
    padding: 0;
    background-color: #C00855;
    opacity: 0.93;
    scroll-behavior: smooth;
}

/** BEGIN HEADER **/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 144px;
    background: radial-gradient(ellipse at bottom, #260c31 0%, #080415 100%);
}

header canvas{
    position:absolute;
    width: 100%;
    height: 144px;
    z-index: 0;
}

header .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/card.png');
    background-repeat: no-repeat;
    height: 128px;
    width: 73px;
    z-index: 1;
}

header .card label{
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    text-shadow: 
    -1px -1px 0 #2f092e,  
     1px -1px 0 #2f092e,
    -1px  1px 0 #2f092e,
     1px  1px 0 #2f092e;
    text-align: center;
    color:white;
}

header .card .star{
    background-image: url('../img/star.png');
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

/** END HEADER **/

/** BEGIN NAV **/
nav{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    font-size: 1em;
    border: 1px solid;
    margin-bottom: 16px;
    background-color: rgb(27, 27, 27);
}

nav a{
    text-decoration: none;
    padding: 4px;
}

.p-nav{
    color: aliceblue;
}

.p-nav:hover{
    animation: rotate 0.7s ease-in-out both;
    cursor:pointer;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg) ;
    }
    25%{
        transform: rotate(3deg) ;
    }
    50%{
        transform: rotate(-3deg) ;

    }
    75%{
        transform: rotate(1seg) ;
    }
    100%{
        transform: rotate(0seg) ;
    }
}

/** END NAV **/

    /* contenedor de galeria*/
    .card{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    .section-1{
        border: 2px solid;
        width: 80%;
        display: flex;
        padding-top: 5px;
        padding-left: 20px;
        padding-bottom: 5px;
        gap:30px;
        border-radius: 10px;
        background-color: rgb(214, 214, 214);
        box-shadow: 5px 5px 5px black;
        flex-wrap: wrap;
        
    }
    .section-2{
        border: 2px solid;
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        padding-top: 5px;
        padding-right: 20px;
        gap:30px;
        border-radius: 10px;
        background-color: rgb(214, 214, 214);
        box-shadow: 5px 5px 5px black;
        flex-wrap: wrap;

    }
    .card-container{
        border: 1px solid;
        height: 290px;
        width: 250px;
        box-shadow: 3px 5px 10px;
        background-color: beige;
        border-radius: 25px;
        transition:transform 1s;
        

    }
    dl{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:40px;
        width: 600px;
        margin-left: 30px;
        font-weight: 900;
        
        
    }
    dt{
        font-size: 1.3em;
        text-transform: uppercase;
        
    }
    dd{
        font-size: 1.1rem;
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
    }
    .card-container:hover{
       transform: scale(0.9);
    }
    article{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        
    }
    @media screen and (min-width: 320px) and (max-width:1199px){
        .section-1 {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        .section-2 {
            display: flex;
            justify-content: center;
            gap: 15px;   
        }
        
    }
    /*fin contenedor galeria */
    

/*listas de nav*/
    .nav-container{
        display: flex;
        gap: 20px;
        font-size: 1.3em;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid;
        border-radius: 5px;
        margin: 15px 35px;
        background-color: rgb(27, 27, 27);
    }
    .p-nav{
        color: aliceblue;
    }
    a{
        text-decoration: none;
    }
    .p-nav:hover{
        animation: rotate 0.7s ease-in-out both;
        cursor:pointer;

    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg) ;
        }
        25%{
            transform: rotate(3deg) ;
        }
        50%{
            transform: rotate(-3deg) ;

        }
        75%{
            transform: rotate(1seg) ;
        }
        100%{
            transform: rotate(0seg) ;
        }
    } 
    .button{
        position:fixed;
        right: 50%;
        bottom: 30px;
        background-image: url(../img/flehcha.png);
        background-color: black;
        height:50px;
        width: 50px;
        border-radius: 50%;
        border: none;
       
        opacity: 0.2;
        
    }
    .button:hover{
        background-color:black;
        opacity: 0.8;
        

    }
    /* fin  listas de nav */

/* descripcion */

    .container-description{
        
        background-color: rgb(40, 40, 40);
        width: 95%;
        text-align:center;
        font-size: 1.1rem;
        color: rgb(194, 191, 187);
        font-family:'Times New Roman', Times, serif;
        letter-spacing: 2px;
        margin-top: 30px;
        margin-left: 15px;
        border-top-left-radius: 38px;
        border-bottom-right-radius: 38px;
        box-shadow: 4px -5px 5px black;
    }

/* fin descripcion */

    /*footer*/
    
footer{
    background-color: black;
    
    
}
.contenedor-footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

h4{
    text-align: end;
    font-size: 1.2rem;
    text-decoration:underline;
    color: white; 
    height: 50px;
    margin-top: 5px;
}
p{
    color: white;
}
h5{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0px;
    margin-top: 5px;
}

.footer-img{
    height: 30px;
    width: 30px;
}


.footer-list{
    display: flex;
    gap: 30px;
    list-style: none;
    color: bisque;
    padding-right: 30px;
    text-decoration: none;
    justify-content: center;
    padding-top: 30px;
    margin-left: 50px;
    

    
}

.copyright{
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    display: block;

}
