body{
    margin: 0;
    padding: 0;
    background-color:rgb(133, 5, 133)
    
    
    }
    header  {
       width: 100%;
       height: 50vh;
       background-image: url(../img/cabecera.png); 
       background-size:contain;
       background-repeat: round;
       
       

    }

    h1{
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 5px ;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        color:rgb(5, 5, 5);
        letter-spacing: 4px;
        text-shadow: 3px -3px rgb(214, 212, 212);
        text-transform: uppercase;
        text-align: center;
        padding-top: 5%;
        
        
        
    }
    /* contenedor de galeria*/
    .card{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        
    }

    .card-container{
        border: 1px solid;
        height: 300px;
        width: 300px;
        box-shadow: 3px 5px 10px;
        background-color: beige;
        border-radius: 25px;
        transition:transform 1s;

    }
    .card-container:hover{
       transform: scale(1.1);
    }
    article{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        
    }
    
/*listas de header*/
    .container{
        display: flex;
        list-style:none;
        font-size: 1.8em;
        gap: 30px;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 10px;
        justify-content: center;
        
    }

    .list-header{
        border: 1px solid;
        border-radius: 10px;
        background-color: rgb(17, 17, 17);
        color: aliceblue;
        padding-right: 5px;
        padding-left: 5px;
        
    }

    .list-header:hover{
        animation: rotate 0.7s ease-in-out both;

    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg) ;
        }
        25%{
            transform: rotate(3deg) ;
        }
        50%{
            transform: rotate(-3deg) ;

        }
        75%{
            transform: rotate(1seg) ;
        }
        100%{
            transform: rotate(0seg) ;
        }
    }

/*.... */

    .lista-habilidades{
        color: aliceblue;
        display: flex;
        justify-content:space-around;
        font-size: 1.8em;
        text-shadow: 1px 1px rgb(0, 0, 0);
        font-weight: 900;
        letter-spacing: 5px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
        
    }
   

    
   
        
        
    
    .container-description{
        
        background-color: black;
        width: 100%;
        text-align:center;
        font-size: 1.5rem;
        color: rgb(194, 191, 187);
        font-family:'Times New Roman', Times, serif;
        letter-spacing: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /*footer*/

h4{
    text-align: center;
    font-size: 1.5rem;
    text-decoration:underline;
}
.redes{
    list-style: none;
    position:relative;
    right: 20px;
    border-radius: 30px;
    
}
.redes img{
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(177, 177, 177);
    box-shadow: 2px 2px black;
}


.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
footer p{
    font-size: 1.2em;
}